<h4>Edit Sighting:</h4>
<p>All fields are required.</p>
<hr>

<%= form_for @sighting do |f| %>
    <%= f.hidden_field :animal_id %>
    <%= f.label :date %>
    <%= f.text_field :date %><br />
    
    <%= f.label :time %>
    <%= f.text_field :time %><br />
    
    <%= f.label :latitude %>
    <%= f.text_field :latitude %><br />
    
    <%= f.label :longitude %>
    <%= f.text_field :longitude %><br />
    
    <%= f.label :region %>&nbsp&nbsp
    <%= f.select :region, (["North of 13", "South of 13"]) %><br /><br />
    
    &nbsp&nbsp&nbsp&nbsp<%= f.submit 'Submit', :class => "btn btn-success"%>
<% end %><hr>

<% if @sighting.errors %>
    <ul>
        <% @sighting.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<a><%= link_to "Delete Sighting", sighting_path(@sighting), :class => "btn btn-warning", method: :delete, data: {confirm: 'Are you totally totally sure?'}%></a>




