<h4>Add New Animal</h4>
<p>Add a new animal to the database by completing this form. All fields required.</p>
<hr>
<%= form_for @animal do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br />
    
    <%= f.label :latin_name %>
    <%= f.text_field :latin_name %><br />
    
    <p>Kingdom (choose one):</p>
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.radio_button :kingdom, 'Mammal', :checked =>true %>
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= label :kingdom, 'Mammal' %></br>
    
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.radio_button :kingdom, 'Bird' %>
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= label :kingdom, 'Bird' %></br>
    
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.radio_button :kingdom, 'Fish' %>
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= label :kingdom, 'Fish' %></br>
    
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.radio_button :kingdom, 'Reptile' %>
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= label :kingdom, 'Reptile' %></br>
    
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.radio_button :kingdom, 'Amphibian' %>
    &nbsp&nbsp&nbsp&nbsp&nbsp<%= label :kingdom, 'Amphibian' %></br></br>
    
    &nbsp&nbsp&nbsp&nbsp<%= f.submit 'Submit', :class => "btn btn-success"%>
<% end %><br />

<% if @animal.errors %>
    <ul>
        <% @animal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
