<h4>Add New Animal</h4>
<hr>
<p>Add a new animal to the database by completing this form. All fields required.</p>

<%= form_for @animal do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br />
    
    <%= f.label :latin_name %>
    <%= f.text_field :latin_name %><br />
    
    <%= f.label :kingdom %>
    <%= f.text_field :kingdom %><br />
    
    <%= f.submit %>
<% end %><br />

<% if @animal.errors %>
    <ul>
        <% @animal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
